body{
  margin:0;
}
ul {
display: flex;
width: 1440px;
height: 696px;
padding:100px 156px;
flex-wrap: wrap;
align-items: flex-start;
gap: 24px;
margin: 0;
background-color: #fff;
}

.gallery-item {
    list-style: none;
  }
.gallery-link{
  display: flex;
}

.gallery-image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 200px;
}
.gallery-image:hover{
  transform: scale(1.03);
} 
.modal-image{
  width:1112px;
  height:640px;
}